@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300;400&family=Oxygen:wght@300;400;700&family=Raleway:wght@100;200;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');


:root {
  --primary-color: #0d5619;
  --secondary-color: #fff;
  --complimentary-blue: #114b5f;
  --bluer-white: #f6f9fa;
  --richer-black: #010203;
  --brand-main-logo: normal 700 36px 'Ubuntu', sans-serif;
  --brand-main--logo-sub: normal 400 14px 'Oxygen', sans-serif;
  --upper-nav-links: normal 300 14px 'Open Sans', sans-serif;
  --main-nav-links: normal 700 18px 'Ubuntu', sans-serif;
  --hero-section-heading: 72px;
  --hero-section-subheading: 24px;
  --news-heading: normal 700 48px 'Ubuntu', sans-serif;
  --news-date: normal 700 14px 'Oxygen', sans-serif;
  --news-title: var(--main-nav-links);
  --events-heading: var(--news-heading);
  --events-subheading: var(--main-nav-links);
  --c2a-button: normal 300 13px 'Ubuntu', sans-serif;
  --footer-brand-heading: normal 700 24px 'Ubuntu', sans-serif;
  --footer-brand-subheading: normal 500 14px 'Ubuntu', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font: normal 300 14px 'Open Sans', sans-serif;
}

.navbar {
  background-color: #fff;
  padding: .2rem 0 .2rem 10rem;
  font-family: 'Open Sans';
  font-weight: 300;
  width: 100%;
  max-width: 1420px;
}

.navbar-nav {
  width: 100%!important;
  max-width: 1420px!important;
}

.navbar-nav li a {
  font: normal 700 13px 'Ubuntu', sans-serif;
  color: var(--richer-black);
}

.navbar-nav li a:hover {
  color: var(--primary-color);
}

.nav-link:active {
  color: var(--secondary-color)!important;
}

.top-nav {
  max-width: 1420px!important;
  width: 100%!important;
}

.top-nav-container {
  width: 100%!important;
  max-width: 1420px!important;
}

.navbar-brand {
  padding: 1em 2em 1em 1em;
  font: var(--brand-main-logo);
  color: var(--primary-color)!important;
}

.nav-subheading {
  font: var(--brand-main--logo-sub);
  color: #919191;
}

.search-bar {
  border: none!important;
  color: var(--white)!important;
  border-radius: 100px!important;
  background-color: #e2e2e2!important;
  font-size: 11px!important;
}

.search-bar::placeholder {
  color: var(--white)!important;
}

form .btn-link {
  color: var(--white)!important;
  text-decoration: none;
}

/* !        🤖 Hero Section             */

.hero-section {
  height: 100vh;
  background: url(assets/photo-carousel.png);
  width: 100%;
  max-width: 1420px;
}

.welcome-header {
  width: 100%;
  position: absolute;
  top: 18em;
  padding: 5em;
}

.welcome-header h1 {
  font: var(--brand-main-logo);
  font-size: var(--hero-section-heading);
  color: #fff;
  text-transform: uppercase;
}

.wh-subheading {
  font: var(--brand-main--logo-sub);
  font-size: var(--hero-section-subheading);
  font-weight: 700;
  color: #f3e9d2;
  text-transform: uppercase;
  letter-spacing: 10px;
}

/* *                      📰 News Section 📰                     */

.recent-news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1420px;
}

.recent-news-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.news-img-container {
  background-color: grey;
  aspect-ratio: 4/3;
  width: 300px;
}

.news-cards {
  display: flex;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

.news-heading {
  font: var(--news-heading);
  color: var(--primary-color);
}

.news-date {
  font: var(--news-date);
  color: var(--primary-color);
  text-transform: uppercase;
}

.news-title {
  font: var(--news-title);
  color: var(--richer-black) ;
  text-align: left;
}

.callToAction-btn {
  border: none;
  background: var(--complimentary-blue);
  color: #fff;
  padding: 16px 38px;
  font: var(--c2a-button);
  text-transform: uppercase;
  letter-spacing: 4px;
}

/*TODO:           📩 Events Section 📩            */

.upcoming-events-container {
  display: flex;
  width: 100%;
  max-width: 1420px;
  gap: 1em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  background-color: var(--bluer-white);
}

.events-content-wrapper { display: flex;flex-direction: column; 
  gap: 2em;
}

.events-heading { font: var(--events-heading); color: var(--primary-color);}

.events-content { display: flex;
  gap: 1em;
}

.events-date {
  background-color: var(--primary-color);
  font: var(--footer-brand-subheading);
  font-size: 14px;
  color: #fff;
  display: inline-grid;
  align-content: center;
  text-transform: uppercase;
  text-align: center;
  padding: 14px;
}

.date-num { font: var(--events-subheading);font-size: 24px; }

.events-text { font: var(--events-subheading);}

#eventsBtn {
  align-self: flex-start;
}

/* !                          👣 Footer Section 👣                                    */

footer {
  height: 15vh;
  width: 100%;
  max-width: 1420px;
  background-color: var(--primary-color);
  color: #fcfcfc;
  gap: 10em;
}

.brand-name {
  text-transform: uppercase;
  font: var(--footer-brand-heading);
  color: #fff;
}

.company-address {
  font: var(--footer-brand-subheading);
}

.site-engine {
  font: var(--footer-brand-subheading);
}

.login-link {
  text-decoration: none;
  color: #fcfcfc;
}

/* *            🔼 Tiny Slider 🔼               */

.page-dock {
  position: absolute;
  max-width: 1420px!important;
  bottom: 0;
  height: 8em;
  /* border: dotted 2px aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 14px;
  z-index: 99;
}

.my-slider {
  display: flex;
  align-items: center;
  height: 130px;
  background-color: #fff;
  border-top: solid 2px #88d498;
  font: normal 700 14px 'Ubuntu', sans-serif;
}

.slider-item {
  /* border-right: dotted 2px black; */
  padding-right: 8px;
  display: contents;
}

.slider-content {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: dotted 2px orange; */
  height: 4em;
  width: 3em;
}

.slider-content a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  display: flex;
  gap: 16px;
}

.my-slider .slider-icon {
  color: var(--primary-color);
  font-size: 38px;
}

.controlsElement {
  position: absolute;
  display: flex;
  align-items: center;
}

.controlsSelector {
  border: none;
  padding: 8px;
  border-radius: 2px;
  font-size: 16px;
  background: var(--primary-color);
  color: #fff;
  position: absolute;
}

#left-selector {
  right: 32.7em;
}

#right-selector {
  left: 32.7em;
}

@media only screen and (min-width: 1200px) {
  .quicklink-fb {
    margin-right: 8em;
  }

  .news-cards {
    gap: 2em;
  }
}

@media only screen and (min-width: 992px) {
  .top-nav-container>.navbar-nav>.nav-item>a.nav-link {
    font-size: 13px!important;
  }
  
  .nav-quick-links {
    display: list-item!important;
  }
  
  .quicklink-fb {
    opacity: 1!important;
    margin-right: 1em;
  }

  .first-nav > .navbar-nav {
    gap: 1em;
  }

/* *                🔼 Tiny Slider 🔼                   */

  .page-dock {
    padding-top: 7em;
  }

/* *                      📰 News Section 📰                     */

  .recent-news-container {
    height: 76vh!important;
    margin-bottom: 88px;
  }

  .recent-news-wrapper {
    flex-direction: column;
    justify-content: center!important;
    align-items: center;
    gap: 2em!important;
    padding-top: 124px;
  }

  .news-cards {
    height: 24em!important;
    flex-direction: row!important;
    gap: 1em!important;
    margin-bottom: 0!important;
  }
  
  .card-container {
    width: 300px;
    gap: 1em;
  }

  .card-content {
    width: 80%;
  }

  .news-date {
    line-height: 36px;
  }

  /*TODO:           📩 Events Section 📩            */
  .upcoming-events-container {
    height: 34rem;
  }

  .events-content-wrapper {
    width: 40%;
  }

  .events-date {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .navbar-collapse {
    height: 0!important;
    position: relative!important;
  }
  
  .top-nav {
    display: flex;
    position: absolute;
    background-color: var(--primary-color)!important;
    height: 3em;
    left: 0;
    top: 0;
    align-items: center;
  }

  .top-nav-container {
    display: block!important;
  }
  
  .top-nav-container ul li a {
    color: var(--secondary-color);
  }

  .top-nav-container>.navbar-nav>.nav-item>a.nav-link {
    font-size: 11px;
  }

  .nav-quick-links {
    display: none;
  }

  .bottom-nav {
    margin-top: 3em;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }

  .second-nav {
    display: none!important;
  }

  .quicklink-fb {

    background: #2c8bec;
    color: #fff;
    letter-spacing: 3px;
    margin-right: 2em;
    opacity: 0;
  }

  .quicklink-text {
    font: normal 600 12px 'Raleway', sans-serif;
    text-transform: uppercase;
  }

  .top-nav-list {
    width: 100vw;
    padding: 0 2em 0 2em;
  }

  button[type="submit"] {
    text-indent: -85px;
    /* overflow: hidden; */
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    cursor: pointer;
    opacity: 0.7;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }
 
  button[type="submit"]:focus,
  input[type="search"]:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #1183d6;
    outline: none;
  }

  .recent-news-container {
    height: 100vh;
  }

  .recent-news-wrapper {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    /* height: 100%; */
    width: 100%;
    gap: 1em;
    margin-bottom: 1em;
  }

  .news-cards {
    gap: 3em;
    /* height: 60em; */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (min-width: 600px) {
  .container-fluid .top-nav {
    display: none;
  }

  .bottom-nav {
    padding-top: 0;
  }

  .top-nav-container {
    display: none;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #fff;
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
  }

  .next-button {
    opacity: 0;
    transition: ease-in 1.2s;
    display: block;
    position: absolute;
    z-index: 1;
    left: 26em;
    top: 46vh;
  }

  .navbar-nav li a:hover {
    transition: ease all .3s;
    text-shadow: 8px 8px 9px rgba(98,94,94,0.59);
  }

  .first-nav {
    transition: all ease-in .3s;
    position: absolute;
    opacity: 1;
  }

  .second-nav {
    display: block;
    transition: all ease-in .3s;
    position: absolute;
    left: -4em;
  }

  .next-button img {
    transition: rotate .3s ease-in;
  }
}